<div class="modal-header">
  <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
  <h4 class="modal-title"><i class="fa fa-thumb-tack"></i>Descarga material técnicos</h4>
</div>
<div class="modal-body" style="padding-top:20px;">
  <div class="row">
    <div class="col-sm-2">
      <p>No.Bitacora:</p>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" ng-model="ctrl.No_Bitacora">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>Clasificación del material</p>
      
      <select 
        class="form-control" 
        name="material" 
        ng-model="ctrl.SlctMaterial" 
        ng-options="M.Descripcion for M in ctrl.Material track by M.catTipoArticuloClave"
        ng-change="ctrl.BuscarNombreArticulo()">
      </select>

    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <p>Descripción de articulo</p>
      <select 
        class="form-control" 
        name="articulo"
        ng-model="ctrl.SlctArticulo"
        ng-options="A.Nombre for A in ctrl.DescripcionArticulo track by A.IdArticulo"
        ng-change="">
      </select>
    </div>
    
    <div class="col-md-4">
      <p>cantidad</p>
      <input type="number" class="form-control" ng-model="ctrl.CantidadDescarga">
    </div>
    
    <div class="col-md-1">
      <br>
      <p>Interior</p>
      <br>
      <p>Exterior</p>
    </div>

    <div class="col-md-1">
      <p>Inicial</p>
      <input type="number" class="form-control" ng-model="ctrl.cantidad">
      <input type="number" class="form-control" ng-model="ctrl.cantidad">
    </div>
    <div class="col-md-1">
      <p>Final</p>
      <input type="number" class="form-control" ng-model="ctrl.cantidad">
       <input type="number" class="form-control" ng-model="ctrl.cantidad">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-info btn-sm" value="" ng-click="ctrl.AgregarArticulo()">Agregar</button>
    </div>
  </div>

  <br>

  <div class="row">
    <table class="table">
      <thead>
        <th>Clave</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Tecnico</th>
        <th>Metraje inicial int.</th>
        <th>Metraje final int.</th>
        <th>Metraje inicial ext.</th>
        <th>Metraje final ext.</th>
      </thead>
      <tbody></tbody>
    </table>

  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-default-bright btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
  <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.ok()">Guardar</button>
</div>
