<form angular-validator-submit="ctrl.guardar()" name="contratoForm" novalidate angular-validator>
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
        <h4 class="modal-title">Selecciona el Aparato</h4>
    </div>
    <div class="modal-body">
        <b ng-show="ctrl.cambio">{{ctrl.label1}}</b>
        <select 
       name="aparato2"
       class="form-control input-sm" 
        ng-options="item as item.Descripcion for item in ctrl.aparatos2 track by item.ContratoAnt"
        validate-on="dirty"
                    required-message="'Este campo es obligatorio.'"
                    required
         ng-model="ctrl.aparato2"></select>
         <br>
        <b ng-show="ctrl.cambio">{{ctrl.label2}}</b>
       <select 
       name="aparato"
       class="form-control input-sm" 
        ng-options="item as item.Descripcion for item in ctrl.aparatos track by item.ContratoAnt"
        validate-on="dirty"
                    required-message="'Este campo es obligatorio.'"
                    required
         ng-model="ctrl.aparato"></select>

  <br>
     <b ng-show="ctrl.cambio">{{ctrl.label3}}</b>
          <select 
       name="status"
       class="form-control input-sm" 
        ng-options="item as item.Concepto for item in ctrl.listastatus track by item.Clv_StatusCableModem"
        validate-on="dirty"
                    required-message="'Este campo es obligatorio.'"
                    required
         ng-model="ctrl.status" ng-show="ctrl.cambio"></select>
      
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
        <button class="btn btn-primary btn-sm" type="submit">Aceptar</button>
    </div>
</form>